* {
}

body {
    background-color: $site-background-color;
    color: $primary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primary-font;
    font-smooth: auto;
    -webkit-font-smooth: auto;
    -moz-osx-font-smooth: auto;
}

div, pre, code {
    box-sizing: border-box;
}

.link {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}

img {
    max-width: 100%;
}