.navigator {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;

    &>div {
        &>.previous {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            column-gap: 4px;

            &::before {
                display: block;
                content: ' ';
                background-image: url('/images/chevron-left.svg');
                height: 16px;
                width: 16px;
                background-size: contain;
                background-position: center;
            }
        }

        &>.next {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            column-gap: 4px;

            &::after {
                display: block;
                content: ' ';
                background-image: url('/images/chevron-right.svg');
                height: 16px;
                width: 16px;
                background-size: contain;
                background-position: center;
            }
        }
    }
}