$site-background-color: #fff;
$primary-text-color: #474747;
$content-background-color: #fff;
$summary-text-color: #474747;

$content-padding: 16px;
$content-radius: 6px;

$summary-padding: 0;

$primary-font: 'IBM Plex Sans Thai Looped', sans-serif;
$source-code-font: 'Source Code Pro', monospace !important;

$table-header-border: 2px solid #f8eade;
$table-body-border: 1px solid #f8eade;

$link-color: #474747;
$link-hover-color: #c87955;

$emphasized-text-color: #c87955;

$inline-code-text-color: #fff;
$inline-code-background-color: #272822;