$site-background-color: #fff;
$primary-text-color: #474747;
$content-background-color: #fff;
$summary-text-color: #474747;

$content-padding: 16px;
$content-radius: 6px;

$summary-padding: 0;

$primary-font: 'IBM Plex Sans Thai Looped', sans-serif;